<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body {
        font-family: sans-serif;
        padding: 20px;
        background-color: white;
      }

      table {
        margin-top: 20px;
      }

      .flash {
        color: green;
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>
    <main>
      <% flash.each do |key, message| %>
        <p class="flash"><%= message %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>

